#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	cmake -B build -S . -GNinja -DCMAKE_INSTALL_PREFIX=/usr

override_dh_auto_build:
	cmake --build build

override_dh_auto_install:
	install -D -m 0755 build/gKiosk debian/gkiosk/usr/bin/gkiosk
	install -D -m 0644 gkiosk.service debian/gkiosk/lib/systemd/system/gkiosk.service
	install -d debian/gkiosk/etc/gkiosk
